<header class="navbar">
  <div class="brand"><i class="fa-solid fa-wallet"></i>PocketSmart</div>
  <nav>
    <a href="/dashboard"><i class="fa-solid fa-gauge"></i> Dashboard</a>
    <a href="/home-planner"><i class="fa-solid fa-couch"></i> Home Planner</a>
    <a href="/party-planner"><i class="fa-solid fa-champagne-glasses"></i> Party Planner</a>
    <a href="/jewelry-planner"><i class="fa-solid fa-gem"></i> Jewelry Planner</a>
    <a href="/history"><i class="fa-solid fa-clock-rotate-left"></i> History</a>
    <a href="#" onclick="logout(); return false;"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
  </nav>
</header>
